@font-face {
    font-family: 'pilat';
    src: url('../fonts/Pilat-Book.woff') format('woff');
	font-weight: 500;
}

@font-face {
    font-family: 'pilat';
    src: url('../fonts/PilatExtended-Bold.woff') format('woff');
	font-weight: 800;
}

:root {
    --window-height: 100%; }
  
  html {
    font-size: 10px;
    font-family: 'pilat', helvetica, sans-serif; }
  
  html, *, *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none; }
  
  h1, .h1 {
    font-size: 2.5rem;
    font-family: 'pilat';
    font-weight: bold;
    line-height: 1; }
  
  p, .p {
    font-size: 1.5rem;
    font-family: 'pilat', helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.3; }
  
  a {
    color: black;
    text-decoration: none;
    outline: none; }
    a:hover {
      cursor: pointer; }
  
  p a {
    color: black;
    text-shadow: 0px 0px 6px rgba(0, 0, 255, 0.4); }
    p a:hover {
      color: black;
      text-shadow: 0px 0px 12px rgba(0, 0, 255, 0.6); }

/**** TRAY MENU ELEMENTS ****/

#tray {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    bottom: 0;
    z-index: 1;
    transition: transform 0.5s;
    transform: translateY(0%);
    display: flex;
    user-select: none;
    flex-direction: column;
}

#tray img, #tray svg {
    pointer-events: none
}

        /** TICKER **/

#trayTicker {
    position: relative;
    width: 100%;
    height: 3.75rem;
    color: white;
    background-color: black;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}

#feed {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    animation: tickerTick linear infinite;
}

#feed p {
    display: inline;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    user-select: none;
}

.feedItem {
    padding: 1.5rem;
}

@keyframes tickerTick {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% - 100vw));
    }
}

        /** TITLE **/

#trayTitle {
    max-height: 200px;
    padding: 20px;
}

@media (max-width: 600px) {
    #trayTitle {
        padding: 10px;
    }
}

.flipTitle {
    animation-name: flipTitle;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.unflipTitle {
    animation-name: unflipTitle;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

#titleText {
    width: 100%;
    max-height: 125px;
    object-fit: contain;
}

@keyframes flipTitle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1, -1);
    }
    100% {
        transform: scale(-1, -1);
    }
}
@keyframes unflipTitle {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1, -1);
    }
    100% {
        transform: scale(1);
    }
}

        /** ICONS **/

#trayContainer {
    height: 100%;
    width: 100vw;
    padding-bottom: 8%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#menu {
    position: relative;
    width: 90%;
    height: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
  
.menuItem {
    position: absolute;
    display: none;
    min-width: 50px;  
    margin: 10px;
    transition: top 0.5s, left 0.5s;
}

.menuItem p {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    z-index: 2;
    translate: 0 2rem;
}

.menuItem img {
    max-width: 100%;
    height: auto;;
    display: block; 
}

.menuItem:hover p, .menuItem:focus p, .menuItem:active p {
    display: flex;
    cursor: grabbing;
}

        /** FOOTER **/

#trayFooter {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

#trayFooter a {
    display: flex;
    width: 60%;
    max-width: 250px;
    justify-content: center;
    align-items: center;
}

#trayFooter img {
    display: flex;
    width: 100%;
    max-width: 250px;
}

/**** IFRAME ****/

#loadingScreen {
    height: 100vh;
    width: 100vw;
    background-color: white;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#loadingScreen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: 0;
}

#backgroundIframe {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    z-index: -1;
}