@font-face {
    font-family: 'pilat';
    src: url('fonts/Pilat-Book.woff');
	font-weight: 500;
}

@font-face {
    font-family: 'pilat';
    src: url('fonts/PilatExtended-Bold.woff');
	font-weight: 800;
}

:root {
    --window-height: 100%; }
  
  html {
    font-size: 10px;
    font-family: 'pilat', helvetica, sans-serif; }
  
  html, *, *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none; }
  
  h1, .h1 {
    font-size: 2.5rem;
    font-family: 'pilat';
    font-weight: bold;
    line-height: 1; }
  
  p, .p {
    font-size: 1.5rem;
    font-family: 'pilat';
    font-weight: normal;
    line-height: 1.3; }
  
  a {
    color: black;
    text-decoration: none;
    outline: none; }
    a:hover {
      cursor: pointer; }
  
  p a {
    color: black;
    text-shadow: 0px 0px 6px rgba(0, 0, 255, 0.4); }
    p a:hover {
      color: black;
      text-shadow: 0px 0px 12px rgba(0, 0, 255, 0.6); }

/**** TRAY MENU ELEMENTS ****/

#tray {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    bottom: 0;
    z-index: 1000;
    transition: transform 0.5s;
    transform: translateY(0%);
}

        /** TICKER **/

#trayTicker {
    position: relative;
    width: 100%;
    height: 5rem;
    color: white;
    background-color: black;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}

#feed {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    animation: tickerTick linear infinite;
}

#feed p {
    display: inline;
    font-size: 3rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.feedItem {
    padding: 1.5rem;
}

@keyframes tickerTick {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

        /** TITLE **/

#trayTitle {
    max-height: 200px;
    padding: 20px;
    margin-bottom: 20px;
}

#titleText {
    width: 100%;
    max-height: 125px;
    object-fit: contain;
}

        /** ICONS **/

#trayContainer {
    display: flex;
    flex-wrap: wrap;
}
  
.trayMenu {
    display: none;   
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
}

/**** IFRAME ****/

#loadingScreen {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#loadingScreen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: 0;
}

#backgroundIframe {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    z-index: -1;
}